<div class="col-6">
        <div class="mb-3">
            <label for="first_name1" class="form-label">First_name</label>
            <input type="text" class="form-control" id="first_name1" name="first_name" placeholder="EX...Ahmed" value="{{this.first_name}}">
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3">
            <label for="last_name1" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name1" name="last_name" placeholder="Ex...Salah"  value="{{this.last_name}}">
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3">
            <label for="email1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email1" name="email" placeholder="email@email.com"  value="{{this.email}}">
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3">
            <label for="phone1" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone1" name="phone" placeholder="+201099106281"  value="{{this.phone}}">
        </div>
    </div>
    <div class="col-12">
        <div class="mb-3">
            <label for="comment1" class="form-label">Comments</label>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="comment1" name="comments" style="height: 200px;">{{this.comments}}
                </textarea>
                <label for="floatingTextarea">Comments</label>
            </div>
        </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>

    </div>
